<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
    <script src="../public/js/client.js"></script>
</body>
</html>