
    <h1>{{title}}</h1>
    <div class="nav">
                <ul>
                <li><a href="/landlord" >Dashboard</a></li>
                <li><a href="/workorders">View All Work Orders</a></li>
                <li><a href="/viewallapartments">View All Apartments</a></li>
                <li><a href="/landlordAllTenants">View All Tenants</a></li>
                <li><a href="/landlordCreateApt">Create An Apartment</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/editWorkOrders" class="active">Edit Work Orders</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
                </ul>
    </div>
    {{#if none}}
            <div>You have no WorkOrders</div>
    {{/if}}
    <div class="workOrder">
        <div class="even-form" >
            <h3>Update Work Order Status</h2>
            <form action="/workOrders" method="PUT">
                <label for="aptNum">Apartment Number</label>
                <input for="aptNum" type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
                <br>
                <label for="workType">Work Type</label>
                <input for="workType" type="text" id="workType" name="workType" placeholder="WorkType">
                <br>
                <label for="dateOpened">Date Opened</label>
                <input for="dateOpened" type="date" id="dateOpened" name="dateOpened" placeholder="Date Opened">
                <br>
                <label>New Status</label>
                <select name="workStatus" id="workStatus">
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
                <input type="submit" value="Update">
            </form>
        </div>
        <div class="even-form">
             <h3>Update Work Order Note</h2>
            <form action="/workOrders" method="PUT">
                <label for="aptNum">Apartment Number</label>
                <input for="aptNum" type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
                <br>
                <label for="workType">Work Type</label>
                <input for="workType" type="text" id="workType" name="workType" placeholder="WorkType">
                <br>
                <label for="dateOpened">Date Opened</label>
                <input for="dateOpened" type="date" id="dateOpened" name="dateOpened" placeholder="Date Opened">
                <br>
                <label for="notes">New Note</label>
                <input type="text" id="notes" name="notes" placeholder="Notes">
                <input type="submit" value="Update">
            </form>
        </div>
        <div class="even-form">
            <h3>Add a Comment to a Work Order</h2>
            <form action="/editWorkOrders" method="POST">
                <label for="aptNum">Apartment Number</label>
                <input for="aptNum" type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
                <br>
                <label for="workType">Work Type</label>
                <input for="workType" type="text" id="workType" name="workType" placeholder="WorkType">
                <br>
                <label for="dateOpened">Date Opened</label>
                <input for="dateOpened" type="date" id="dateOpened" name="dateOpened" placeholder="Date Opened">
                <br>
                <label for="comments">Add a Comment</label>
                <input type="text" id="comments" name="comments" placeholder="Comments">
                <input type="submit" value="Update">
            </form>
        </div>
        <div class="even-form">
            <h3>Update Work Order Date Closed</h2>
            <form action="/workOrders" method="PUT">
                <label for="aptNum">Apartment Number</label>
                <input for="aptNum" type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
                <br>
                <label for="workType">Work Type</label>
                <input for="workType" type="text" id="workType" name="workType" placeholder="WorkType">
                <br>
                <label for="dateOpened">Date Opened</label>
                <input for="dateOpened" type="date" id="dateOpened" name="dateOpened" placeholder="Date Opened">
                <br>
                <label for="comments">Update Date Closed</label>
                <input type="date" id="dateClosed" name="dateClosed" placeholder="Date Closed">
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
    

    
    

