<h1>{{title}}</h1>
{{!-- <main> --}}
  <div class="nav">
            <ul>
                {{!-- <li><a href="/landlord">Dashboard</a></li>
                <li><a href="/workorders">View All Work Orders</a></li>
                <li><a href="/viewallapartments"  class="active">View All Apartments</a></li>
                <li><a href="/landlordCreateApt">Create An Apartments</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li> --}}
                <li><a href="/landlord" >Dashboard</a></li>
                <li><a href="/workorders">View All Work Orders</a></li>
                <li><a href="/viewallapartments">View All Apartments</a></li>
                <li><a href="/landlordAllTenants">View All Tenants</a></li>
                <li><a href="/landlordCreateApt" class="active">Create An Apartment</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/editWorkOrders">Edit Work Orders</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
  </div>
  <div id="errorCreateAptCS"></div>
  <br>
  <div>
    <form action="/landlordCreateApt" method="post" id="creatNewAptLL" class="new-apt-form">
    <label for="aptNum">Apartment Number:</label>
     
    <input type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
     
    <label for="rentCost">Rent Cost:</label>
    <input type="number" id="rentCost" name="rentCost" placeholder="Rent Cost">
     
     
    <label for="rentDate">Rent Date:</label>
    <input type="text" id="rentDate" name="rentDate" placeholder="Rent Date MM/DD/YYYY">
     
    <label for="size">Size (sqft):</label>
    <input type="number" id="size" name="size" placeholder="Apartment Size">
     
    <label for="bedNum">Number of Beds:</label>
    <input type="number" id="bedNum" name="bedNum" placeholder="Bedrooms">
     
    <label for="bathNum">Number of Baths:</label>
    <input type="number" id="bathNum" name="bathNum" placeholder="Bathrooms">
     
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" placeholder="description">
     
    {{!-- <label for="isVacant">Vacancy Status:</label>
    <select id="isVacant" name="isVacant" required>
        <option value="">--Please select an option--</option>
        <option value="true">true</option>
        <option value="false">false</option>
    </select>
     --}}
    <label for="isVacant">Vacancy Status:</label>
    <input type="checkbox" id="isVacant" name="isVacant" value="true">

    {{!-- <label for="tenant">Tenants</label> --}}
     
    <input type="submit" value="Create">
    </form>
    {{#if error}}
    <p id="CreatAPTERROR">{{error}}</p>
    {{/if}}
  </div>