{{!-- <!DOCTYPE html>
<html lang = "en">
 <title>Landlord Page</title>

<body> --}}
    <h1>{{title}}</h1>
    <h2>Today's Date: {{today}}</h2>
    {{!-- <main> --}}
        <div class="nav">
            <ul>
                <li><a href="/landlord" class="active">Dashboard</a></li>
                <li><a href="/workorders">View All Work Orders</a></li>
                <li><a href="/viewallapartments">View All Apartments</a></li>
                <li><a href="/landlordAllTenants">View All Tenants</a></li>
                <li><a href="/landlordCreateApt">Create An Apartment</a></li>
                <li><a href="/landlordassignApt">Assign Apartment to Tenant</a></li>
                <li><a href="/payments">View Apartments Payments</a></li>
                <li><a href="/editWorkOrders">Edit Work Orders</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </div>
        <div class="infos">
            <ul>
                <li class="rentDueBox">
                    <p>Number of Payments Due:</p>
                    <p>{{numPayments}}</p>
                </li>
                <li class="workOrderBox">
                    <p>Active Work Orders:</p>
                    <p>{{numWorkOrders}}</p>
                </li>
            </ul>
        </div>
    {{!-- </main>
</body> --}}