{{!-- <!DOCTYPE html>
<html lang = "en">
 <title>Login</title> --}}

{{!-- <body> --}}
    <header>
        <a href="/register">Click here to register!</a>
    </header>
    <h1>{{title}}</h1>
    {{!-- <main> --}}
        <div id="errorLogInCS"></div>
        <div id="errorLoginAjax"></div>
        {{#if error}}
            <div id="error">{{info}}</div>
        {{/if}}
        <form action="/login" id ="login-form" method="POST">
            <label for="emailAddressInput">Email:</label>
            <input id ="emailAddressInput" type="email" name="emailAddressInput" placeholder="Email..." >
            <br>
            <label for="passwordInput">Password:</label>
            <input id ="passwordInput" type="password" name="passwordInput" placeholder="Password..." >
            <input id="loginSubmit" type="submit">
        </form>
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/login.js"></script>

    {{!-- </main>
</body> --}}