<h1>{{title}}</h1>
<main>
  <div class="nav">
    <ul>
      <li><a href="/tenant">Dashboard</a></li>
        <li><a href="/pay">Pay Rent</a></li>
        <li><a href="/submitworkorder">Submit Work Order</a></li>
        <li><a href="/workorders">View Work Orders</a></li>
        <li><a href="/payments"  class="active">Previous Payments</a></li>
        <li><a href="/myapt">View My Apartment</a></li>
        <li><a href="/logout" class="logout">Log Out</a></li>
    </ul>
  </div>
  <div class="infosp">
    {{#if payments.length}}
      <ul>
        {{#each payments}}
          <li>
            <p>Payment Amount: ${{paymentAmount}}</p>
            <p>Payment Date: {{date}}</p>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No apartments found.</p>
    {{/if}}
  </div>


</main>

