
{{!-- <!DOCTYPE html>
<html lang = "en">
 <title>Registration Page</title>
<body> --}}
    <header>
        <a href="/login">Already have and account? Click here to log-in</a>
    </header>
    <h1>{{title}}</h1>
    {{!-- <main> --}}
        <div id="errorCS"></div>
        {{#if error}}
            <div id="error">{{info}}</div>
        {{/if}}
        <form action="/register" id ="registration-form" method="POST">
            <label for="firstNameInput">First Name:</label>
            <input id ="firstNameInput" type="text" name="firstNameInput" placeholder="First..." >
            <br>
            <label for="lastNameInput">Last Name:</label>
            <input id ="lastNameInput" type="text" name="lastNameInput" placeholder="Last..." >
            <br>
            <label for="emailAddressInput">Email:</label>
            <input id ="emailAddressInput" type="email" name="emailAddressInput" placeholder="Email..." >
            <br>
            <label for="passwordInput">Password:</label>
            <input id ="passwordInput" type="password" name="passwordInput" placeholder="Password..." >
            <br>
            <label for="confirmPasswordInput">Confirm Password:</label>
            <input id ="confirmPasswordInput" type="password" name="confirmPasswordInput" placeholder="Password..." >
            <br>
            <label for="roleInput">Choose a role:</label>
            <select id="roleInput" name="roleInput">
                <option value="">Select a Role</option>
                <option value="tenant">tenant</option>
                <option value="landlord">landlord</option>
            </select>
            <input type="submit">
        </form>
    {{!-- </main>
</body> --}}