{{!-- <body> --}}
    <h1>{{title}}</h1>
    {{!-- <main> --}}
        <div class="nav">
            <ul>
                <li><a href="/tenant">Dashboard</a></li>
                <li><a href="/pay">Pay Rent</a></li>
                <li><a href="/submitworkorder"  class="active">Submit Work Order</a></li>
                <li><a href="/viewtenantworkorders">View Work Orders</a></li>
                <li><a href="/payments">Previous Payments</a></li>
                <li><a href="/myapt">View My Apartment</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </div>
        <div>
        <form action="/submitworkorder" method="post" class="new-workOrder-form">
        {{!-- <label for="aptNum">Apartment Number:</label>
        
        <input type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
         --}}
        <label for="workType">Work Type:</label>
        <input type="text" id="workType" name="workType" placeholder="Work Type">
        
        <label for="workStatus">Work Status:</label>
        <select name="workStatus" id="workStatus">
            <option value="">Select a Status</option>
            <option value="Open">Open</option>
        </select>   

        <label for="notes">Notes to Add:</label>
        <input type="text" id="notes" name="notes" placeholder="Notes">
        
        <label for="dateOpened">Date Opened:</label>
        <input type="text" id="dateOpened" name="dateOpened" placeholder="Date open MM/DD/YYYY">
        
        <label for="dateClose">Please enter a date you would like this work order completed by.</label>
        <input type="text" id="dateClose" name="dateClose" placeholder="Date Closed MM/DD/YYYY">
    
       
        <input type="submit" value="Submit">
        </form>
        {{#if error}}
        <p id="CreatAPTERROR">{{error}}</p>
        {{/if}}
    </div>
    {{!-- </main> --}}
{{!-- </body> --}}




