{{!-- <body> --}}
    <h1>{{title}}</h1>
    {{!-- <main> --}}
        <div class="nav">
            <ul>
                <li><a href="/tenant">Dashboard</a></li>
                <li><a href="/pay">Pay Rent</a></li>
                <li><a href="/submitworkorder"  class="active">Submit Work Order</a></li>
                <li><a href="/viewtenantworkorders">View Work Orders</a></li>
                <li><a href="/payments">Previous Payments</a></li>
                <li><a href="/myapt">View My Apartment</a></li>
                <li><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </div>
        <div>
        <div id="errorSubmitWokrCS"></div>
        <form action="/submitworkorder" method="post" id="workOrderformSubmit" class="new-workOrder-form">
        {{!-- <label for="aptNum">Apartment Number:</label>
        
        <input type="text" id="aptNum" name="aptNum" placeholder="Apartment Number">
         --}}
        <label for="workType">Work Type:</label>
        <input type="text" id="workType" name="workType" placeholder="Electric, Water, ...">
        
        <label for="notes">Notes to Add:</label>
        <input type="text" id="notes" name="notes" placeholder="Notes">
       
        <input type="submit" value="Submit">
        </form>
        {{#if error}}
        <p id="CreatAPTERROR">{{error}}</p>
        {{/if}}
    </div>
    {{!-- </main> --}}
{{!-- </body> --}}




